# Copyright VMware, Inc.
# SPDX-License-Identifier: APACHE-2.0

version: '2'

services:
  meilisearch:
    image: docker.io/getmeili/meilisearch:v1.8
    ports:
      - '7700:7700'
    environment:
      - MEILI_ENV=development
    volumes:
      - './my-project-meilisearch:/meili_data'
  mongodb:
    image: docker.io/bitnami/mongodb:7.0
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
  express:
    image: docker.io/bitnami/express:4
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - NODE_ENV=development
      - DATABASE_URL=mongodb://mongodb:27017/myapp
      - EXPRESS_SKIP_DB_WAIT=0
      - EXPRESS_SKIP_DB_MIGRATION=0
      - EXPRESS_SKIP_NPM_INSTALL=0
      - EXPRESS_SKIP_BOWER_INSTALL=0
    volumes:
      - './my-project:/app'
    depends_on:
      - mongodb
