doctype html
html
head
    title Error 404: Page Not Found
    link(rel="stylesheet" href="/stylesheets/404.css")
body
    .container
        .error-container
            .error-code 404
            .error-message Page Not Found
            p.error-description Oops! The page you're looking for seems to have wandered off.
            a.back-home(href="/") Return to Home