doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='apple-touch-icon' sizes='180x180' href='/icon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/icon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/icon/favicon-16x16.png')
    //- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/templates/basic_search.css" />
  body
    block content
  script(src='https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js')
  script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@4')
  script.
    const search = instantsearch({
    indexName: "dataset",
    searchClient: instantMeiliSearch(
    "http://localhost:7700"
    ).searchClient
    });
    search.addWidgets([
    instantsearch.widgets.searchBox({
    container: "#searchbox"
    }),
    instantsearch.widgets.configure({ 
    hitsPerPage: 16
    }),
    instantsearch.widgets.hits({
    container: "#hits",
    templates: {
    item: `
      <div>
        <div class="hit-name">
          {{#helpers.highlight}}{ "attribute": "nombre" }{{/helpers.highlight}}
        </div>
        <div class="hit-description">
          {{#helpers.highlight}}{ "attribute": "estatus" }{{/helpers.highlight}}
        </div>
      </div>
    `
    }
    })
    ]);
    search.start();
    document.getElementById('searchCheckbox').addEventListener('change', function() {
      const isChecked = this.checked;
      const filterValue = this.value;
      
      search.addWidgets([
        instantsearch.widgets.configure({
          filters: isChecked ? `estatus = "${filterValue}"` : ''
        }),
      ]);
      
      search.refresh();
    });
