doctype html
html
  head
    title Login
  body
    h1 Login
    form(action="/auth/login" method="POST")
      input(type="text" name="username" placeholder="Username" required)
      input(type="password" name="password" placeholder="Password" required)
      button(type="submit") Login
